{# https://github.com/andreynovikov/django-daterangefilter/blob/master/daterangefilter/templates/daterangefilter/daterangefilter.html #}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% include "daterangefilter/_load_momentjs.html" %}
<link rel="stylesheet" href="{% static 'daterangefilter/daterangepicker/daterangepicker.css' %}" />
<style>
.daterangepicker .drp-calendar { max-width: inherit }
.daterangepicker .ranges li { list-style-type: none }
</style>
{% with field_name=choices.0.field_name %}
<div class="grp-module">
  <div class="grp-row">
    <label>{% blocktrans with title|capfirst as filter_title %}{{ filter_title }}{% endblocktrans %}</label>
    <ul><li style="display: block;">
    <input type="text" class="form-control" id="drp-{{ field_name }}" data-field-name="{{ field_name }}" autocomplete="off" style="width: 100%" />
    </li></ul>
  </div>
</div>
<script>
(function($) {
    window.jQuery = $;
    $.getScript('{% static 'daterangefilter/daterangepicker/daterangepicker.min.js' %}', function() {
        $(document).ready(function () {
            {% if LANGUAGE_CODE != 'en-us' %}
            moment.locale('{{ LANGUAGE_CODE }}');
            {% endif %}

            var $drp_input = $('#drp-{{ field_name }}');
            // initialize date range picker widget
            $drp_input.daterangepicker({
                {% include "daterangefilter/ranges.html" %} //lgtm [js/syntax-error]
                opens: 'left',
                autoApply: true,
                autoUpdateInput: false,
                locale: {
                    monthNames: moment.months(),
                    customRangeLabel: '{% trans "Custom Range" %}'
                }
            });
            // act on date range selection via widget
            $drp_input.on('apply.daterangepicker', function(ev, picker) {
                var from = picker.startDate.format('YYYY-MM-DD') + 'T00:00:00.000';
                var to = picker.endDate.format('YYYY-MM-DD') + 'T23:59:59.999';
                $(this).val(from + ' - ' + to);

                var applyFilter = $(this).closest('.grp-filter').find('#grp-filter-apply');
                var query = applyFilter.attr("href");
                if (! query) {
                    query = window.location.search;
                }

                if (query.match(/{{ field_name }}__gte=/)) {
                    query = query.replace(/({{ field_name }}__gte=)([^?&]*)/, "$1" + from);
                } else {
                    query = query + '&{{ field_name }}__gte=' + from;
                }

                if (query.match(/{{ field_name }}__lte=/)) {
                    query = query.replace(/({{ field_name }}__lte=)([^?&]*)/, "$1" + to);
                } else {
                    query = query + '&{{ field_name }}__lte=' + to;
                }

                query = query.replace(/^[&?]*/, '');
                applyFilter.attr('href', '?' + query);
            });
            $drp_input.on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
            // set initial value
            var range = "{{ choices.0.value }}";
            if (range != "") {
                var vals = range.split(' - ');
                if (vals.length == 2) {
                    var picker = $drp_input.data('daterangepicker');
                    picker.setStartDate(moment(vals[0], 'YYYY-MM-DD'));
                    picker.setEndDate(moment(vals[1], 'YYYY-MM-DD'));
                    $drp_input.val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
                    $drp_input.closest('li').addClass("selected");
                }
            }
        });
    });
}(django.jQuery));
</script>
{% endwith %}
